.content-wrap {
    display: flex;
    flex-wrap: wrap;
      width: 100%;
}
.box{
    text-align: center;
}

@media screen and (max-width: 700px) {
    .container {
        margin:auto;
    }

    h1 {

        font-size: 3em

    }

	.score-panel,
    .stars, 
    .restart,
    .moves-container,
    .timer{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
	}

    .deckArea {
        width: 600px;
        min-height: 350px;
        text-align: center;
       
    }

    .deck {
        width: 500px;
        min-height: 500px;
        padding: 10px;
        margin: 5%;
    }

    .deck .card {
        height: 100px;
        width: 100px;
    }

    .popup .popuptext {
        padding: 5px;
        font-size: 1em;
        height: auto;
        text-align: center;
    }

    .playagain {
        font-size: .9em;
        width: 125px;
        height:40px;
        line-height: 40px; 
        margin:10%;
        background-color:#2e3d49;
        color: #fff;
        text-align: center;
    }
}
@media screen and (max-width: 580px) {

    .container {
        margin:auto;
    }

    h1 {

        font-size: 2em

    }

    .score-panel,
    .stars, 
    .restart,
    .moves-container,
    .timer{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .deckArea {
        width: 100%;
        min-height: 500px;
        text-align: center;
        align-items: center; 
        margin: 5%;
    }

    .deck {
        width: 300px;
        min-height: 300px;
        padding: 10px;
        text-align: center;
        margin: 5%;
    }

    .deck .card {
        height: 60px;
        width: 60px;
    }

    .popup .popuptext {
        padding: 5px;
        font-size: 1em;
        height: auto;
        text-align: center;
        
    }

    .playagain {
        font-size: .9em;
        width: 125px;
        height:40px;
        line-height: 40px; 
        margin:10%;
        background-color:#2e3d49;
        color: #fff;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {

    .container {
        margin:auto;
    }

    h1 {

        font-size: 2em

    }

    .score-panel,
    .stars, 
    .restart,
    .moves-container,
    .timer{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .deckArea {
        width: 100%;
        min-height: 300px;
        text-align: center;
        margin: 5%;
    }

    .deck {
        width: 300px;
        min-height: 300px;
        padding: 10px;
        text-align: center;
        margin-left: 5%;
       
    }

    .deck .card {
        height: 60px;
        width: 60px;
    }

    .popup .popuptext {
        padding: 5px;
        font-size: 1em;
        height: auto;
        
    }

    .playagain {
        font-size: .9em;
        width: 125px;
        height:40px;
        line-height: 40px; 
        margin:10%;
        background-color:#2e3d49;
        color: #fff;
    }
}
